body {
    background-color:  #ebe2de;
    color: #c5a977;
}
.box {
    font-family: 'Poppins', sans-serif;
    float: left;
    padding: 2px;
    margin: 0 1px;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 400;
}
.time {
    width: 200px;
    height: 105px;
    background: #ebe2de;
    position: absolute;
    top: 100px;
    left: 100px;        
}
.container {
    margin-top: 20px;
}